.App {
  width: 98%;
  text-align: left;
  padding: 1%;
  background-color: antiquewhite;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.checkHideBox {
  border: 4px solid black;
  margin: 5px;
  padding: 5px;
}

input[type="number"] {
  width: 60px;
}

.name_text {
  display: inline-block;
  width: 180px;
  margin-left: 5px;
  margin-right: 5px;
}

.number_head {
  display: inline-block;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="date"] {
  width: 100px;
}

input {
  margin: 2px 5px;
}

button {
  margin: 2px 5px;
}

.half_div {
  width: 48%;
  padding: 1%;
  display: inline-grid;
  overflow-y: scroll;
  max-height: 400px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.sig_text {
  width: 45%;
  margin: 0px 10px;
  display: inline;
}

.mega_button {
  width: 100%;
  margin: auto;
}

.date_input_div {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}

.date_input_div > button {
  float: right;
}

.date_input_div > input[type="text"] {
  width: 90%;
  box-sizing: border-box;
}

.button_border_div {
  width: 23%;
  padding: 1%;
  display: inline-grid;
}

.button_border_div > button {
  margin: auto;
  bottom: 50%;
}