.App {
  width: 100%;
  text-align: left;
  padding: 5px;
  background-color: antiquewhite;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.CheckHideBox {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

input[type="number"] {
  width: 60px;
}

input[type="text"] {
  margin-right: 5px;
}
